<form action="<%= train_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
	<label for="content">Content:</label>
	<textarea name="content"></textarea>
	<label for="tag">Tag:</label>
	<% for tag in @tags %>
	<input type="checkbox" name="tags" value="<%= tag.name %>" /><%= tag.name %>
	<% end %>
	
	<input type="submit" value="Train!" />
</form>