<script type="text/javascript">
	$(function(){
		$('#report_submit').click(function() {
			var form = $('#report_form');
			location.href = form.attr('action') + '/' + $('#initial_date').val() + '/' + $('#end_date').val() + "/" + $('#percentage').val()
		});
	});
</script>

<form method="get" action="<%= reports_url %>" id="report_form">
	Initial Date: <input type="textbox" name="initial_date" id="initial_date">
	End Date: <input type="textbox" name="end_date" id="end_date">
	Min Percentage: <input type="textbox" name="percentage" id="percentage">
	<input type="button" value="Generate report" id="report_submit" />
</form>